@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue-Medium.otf) format('opentype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue-Roman.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
}